@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://use.fontawesome.com/releases/v5.1.1/css/all.css");

body,
html {
    font-family: Raleway, Roboto, sans-serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 10vh;
    order: -1;
}

main {
    width: 100%;
    height: 85vh;
    order: 0;
}

footer {
    width: 100%;
    height: 5vh;
    order: 1;
    color: #ffffff;
    background-color: black;
    text-align: center;
}
.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}
.sidebar {
    background-color: #82d0d7ff;
    width: 20%;
    height: 100%;
    order: 0;
    margin-top: -8px;
    margin-bottom: -8px;
}
.main-container {
    width: 80%;
    height: 100%;
    order: 1;
    padding: 16px 16px;
}
.navbar-brand {
    margin-left: 64px;
    width: 64px;
}

.title {
    color: #8b3f01ff;
    font-size: 1.8rem;
    margin-left: 98px;
}
.company-logo {
    margin-left: 24px;
    margin-top: -10px;
}

.login-screen {
    background-image: url("../images/background.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-form {
    padding: 24px 64px 24px 64px;
    border-radius: 8px;
    border-color: #ffffff;
    color: #6f6969;
    margin: 0 auto;
}

.page-title {
    text-align: center;
}

.left-item a {
    color: #000;
}

.bg-custom {
    background-color: #82d0d7ff;
}

.btn-custom {
    background: #dba254ff;
}

.text-custom {
    color: #8b3f01ff;
}

.sidebar-nav {
    list-style: none;
    margin-right: 48px;
    margin-left: 16px;
    padding-top: 98px;
}

.sidebar-nav li a:hover {
    color: #8b3f01ff;
    font-size: 1.3em;
    text-decoration: none;
}

.logout-btn {
    color: #8b3f01ff;
    text-decoration: none;
}

hr {
    border-color: #000;
    border-width: 1.2px;
}

.right-item {
    float: right;
    margin-right: 32px;
    margin-top: 32px;
}

.right-item .logout-btn:hover {
    color: #8b3f01ff;
    text-decoration: none;
    font-size: 1.6em;
}
.dashboard-alert {
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
.app-footer {
    margin-top: -8px;
    padding-top: 8px;
}

.profile-form {
    background-color: #f5f5f5;
    margin-top: 48px;
}
.save-profile-btn {
    float: right;
}
.btn-secondary {
    color: #000000;
    background-color: #aeafb1;
    border-color: #6c757d;
}
.form-footer {
    float: right;
}

.left-btn {
    margin-left: 45px;
}

.modal {
    top: 25vh !important;
}
.modal-content {
    background-color: #f5f5f5;
    color: #6f6969;
}
.staypoint-btn {
    margin-left: 24px;
}
.modal-description {
    font-size: 0.9em;
}
.label-bolded {
    font-weight: bold;
}
.map-container {
    width: 80%;
    order: 1;
    height: 100%;
    background-color: #fff;
    margin-top: -8px;
    display: flex;
}
.map {
    height: 100%;
    width: 100%;
}

.info-left,
.info-right {
    width: 25%;
    margin-top: 3%;
}

.hidden {
    display: none;
}

.point-header {
    font-weight: bold;
    margin: 2%;
}
.point-info {
    font-size: 0.8em;
    margin: 4%;
}
